.about {
  margin: 0 auto;
  width: 1165px;
  text-align: center;
  margin-bottom: 130px;

  @media (max-width: 1166px) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }
}

.about h3 {
  color: $dark-grey;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  margin-top: 150px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin-top: 65px;
    margin-bottom: 35px;
  }
}

.about__list {
  width: 100%;
  list-style: none;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    width: 100%;
    padding-left: 106px;
    padding-right: 106px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.about__list-item {
  width: 263px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 40px;
  }
}

.about__list span {
  color: $turquoise;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
}

.about__list p {
  color: $black;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-top: 15px;

  @media (max-width: $mobile-width) {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
}
