.contacts h3 {
  color: $dark-grey;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  @media (max-width: $tablet-width) {
    font-size: 24px;
  }
  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}
.contacts p {
  color: $black;
  opacity: 0.7;
  margin: 0 auto;
  width: 455px;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  @media (max-width: $tablet-width) {
    width: 81.901vw;
  }
  @media (max-width: $mobile-width) {
    width: 288px;
  }
}
.contacts__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  @media (max-width: $mobile-width) {
    padding-left: 30px;
    flex-direction: column;
  }
}
.contacts__list-link {
  position: relative;
  color: $black;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  @media (max-width: $mobile-width) {
    line-height: 32px;
  }
}
.contacts__list-link--email {
  margin-right: 127px;
  @media (max-width: $tablet-width) {
    margin-right: 107px;
  }
  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}
.contacts__list-link--email::before {
  position: absolute;
  content: url("../img/icons/icon-mail.svg");
  right: 105%;
  top: 10%;
}
.contacts__list-link--phone::before {
  position: absolute;
  content: url("../img/icons/icon-phone.svg");
  right: 105%;
  top: 10%;
}
