.form {
  width: 327px;
  margin-left: auto;
  margin-bottom: 240px;
  text-align: center;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 50px;
    padding-left: 224px;
    padding-right: 224px;
    background-color: $white;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
  }
}

.form h3 {
  width: 340px;
  color: $white;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 23px;

  @media (max-width: $tablet-width) {
    width: 337px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    color: $black;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 20px;
  }
}

.form fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

.form ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.form li {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: inherit;
  color: $darker-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border-radius: 6px;
}

.form button {
  cursor: pointer;
  width: 100%;
  padding: 16px 48px 16px 48px;
  font-family: inherit;
  color: $black;
  border: none;
  border-radius: 6px;
  background-color: $turquoise;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;

  @media (max-width: $mobile-width) {
    padding: 16px 28px 16px 28px;
  }
}
