.header__logo-wrapper {
  margin-left: 19.444vw;
  @media (max-width: $tablet-width) {
    margin-left: 21px;
    margin-top: -65px;
  }
}
.header__toggle {
  display: none;
  @media (max-width: $tablet-width) {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
}
.header__toggle::before {
  @media (max-width: $tablet-width) {
    position: absolute;
    content: url("../img/icons/icon-close.svg");
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 10px;
  }
}
.header__toggle--open::before {
  @media (max-width: $tablet-width) {
    position: absolute;
    content: url("../img/icons/icon-burger.svg");
    background-color: $turquoise;
    padding: 10px;
  }
}
