.header {
  position: relative;
}

.header__logo-wrapper {
  @media (max-width: $tablet-width) {
    padding-top: 5px;
    padding-left: 21px;
    margin-top: 20px;
  }
}

.header__toggle {
  z-index: 1001;
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    border: none;
  }
}

.header__toggle::before {
  @media (max-width: $tablet-width) {
    position: absolute;
    content: url("../img/icons/icon-close.svg");
    top: 0;
    right: 0;
    background-color: transparent;
    padding: 10px;
  }
}

.header__toggle--open::before {
  @media (max-width: $tablet-width) {
    position: absolute;
    content: url("../img/icons/icon-burger.svg");
    background-color: $turquoise;
    padding: 10px;
  }
}
