.main-nav {
  background-color: transparent;
  margin-bottom: 256px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 0;
    background-color: $white;
    position: relative;
  }
}

.main-nav--js {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main-nav--absolute {
  @media (max-width: $tablet-width) {
    flex: 1;
    height: 100%;
    z-index: 1000;
    position: fixed;
    overflow: auto;
  }
}

.main-nav__list {
  width: 880px;
  display: flex;
  justify-content: center;
  min-height: min-content;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  list-style: none;
  text-decoration: none;
  border-bottom: solid 1px $opacity-white;

  @media (max-width: $tablet-width) {
    gap: 0;
    background-color: $white;
    width: 100%;
    margin: 0;
    margin-top: 80px;
    padding-left: 0;
    padding-right: 0;
    // padding-bottom: 4000px;
    flex-direction: column;
    color: $menu-text-grey;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}

.main-nav__list-link {
  color: $opacity-white;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  margin-left: 16%;

  @media (max-width: $tablet-width) {
    background-color: $menu-grey;
    margin-bottom: 30px;
    display: block;
    position: relative;
    margin-left: 0;
    padding-left: 16px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: $menu-text-grey;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}

.main-nav__list-link--first {
  margin-left: 0;
}

.main-nav__list-link:hover {
  color: $white;
}

.main-nav__list-link::after {
  @media (max-width: $tablet-width) {
    position: absolute;
    content: url("../img/icons/icon-arrow.svg");
    top: 30%;
    right: 0;
    padding-right: 16px;
  }
}
