.page__body {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $white;
}
.page__header {
  background-color: $dark-grey;
  background-image: url("../img/bike-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (resolution: $retina) {
    background-image: url("../img/bike-back-desktop@2x.jpg");
  }
  @media (max-width: $tablet-width) {
    background-image: url("../img/bike-back-tablet@1x.jpg");
    background-size: 100% 340px;
    background-position: top;
    @media (resolution: $retina) {
      background-image: url("../img/bike-back-tablet@2x.jpg");
    }
  }
  @media (max-width: $mobile-width) {
    background-image: url("../img/bike-back-mobile@1x.jpg");
    background-position: top;
    @media (resolution: $retina) {
      background-image: url("../img/bike-back-mobile@2x.jpg");
    }
  }
}
.page__header-wrapper {
  display: grid;
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
.page__header-logo-wrapper {
  order: 1;
  grid-row: 1 / 1;
  grid-column: 1 / 3;
}
.page__header-promo {
  order: 2;
  grid-row: 2 / 1;
  grid-column: 1 / 3;
}
.page__header-form {
  order: 3;
  grid-row: 1 / 3;
  grid-column: 2 / 2;
}
.page__main {
  height: 100%;
}
.page__footer-wrapper {
  margin: 0 auto;
  text-align: center;
}
