.page {
  width: 100%;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page--menu-open {
  overflow-y: hidden;
}

.page__header {
  // margin: 0 auto;
  background-color: $dark-grey;
  background-image: url("../img/bike-back-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (resolution: $retina) {
    background-image: url("../img/bike-back-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-color: transparent;
    background-image: none;
  }
}

.page__header-wrapper {
  display: grid;
  margin: 0 auto;
  width: 880px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $dark-grey;
    background-image: url("../img/bike-back-tablet@1x.jpg");
    background-size: 100% 340px;
    background-repeat: no-repeat;
    background-position: top;

    @media (resolution: $retina) {
      background-image: url("../img/bike-back-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile-width) {
    background-image: url("../img/bike-back-mobile@1x.jpg");
    background-size: 100% 390px;
    background-position: top;

    @media (resolution: $retina) {
      background-image: url("../img/bike-back-mobile@2x.jpg");
    }
  }
}

.page__header--menu-open {
  @media (max-width: $tablet-width) {
    background-position: 0 510px;
  }
}

.page__header-logo-wrapper {
  order: 1;
  grid-row: 1 / 1;
  grid-column: 1 / 3;
}

.page__header-promo {
  order: 2;
  grid-row: 2 / 1;
  grid-column: 1 / 3;
}

.page__header-form {
  order: 3;
  grid-row: 1 / 2;
  grid-column: 2 / 2;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
}

.page__footer-wrapper {
  margin: 0 auto;
  text-align: center;
}
