.promo {
  width: 393px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.promo h2 {
  margin: 0;
  margin-top: 50px;
  color: $white;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;

  @media (max-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 85px;
    font-size: 30px;
    line-height: 42px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    padding-top: 70px;
  }
}

.promo p {
  color: $white;
  margin-top: 25px;
  opacity: 0.7;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;

  @media (max-width: $tablet-width) {
    width: 435px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    padding-bottom: 70px;
  }
}
