.video {
  background-color: $back-black;
  text-align: center;
  margin-bottom: 245px;

  @media (max-width: $tablet-width) {
    margin-bottom: 155px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 120px;
  }
}

.video h3 {
  color: $white;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  padding-top: 120px;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    margin-top: 0;
    padding-top: 70px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 85px;
  }
}

.video p {
  margin: 0 auto;
  color: $white;
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  width: 340px;
  margin-bottom: 10px;

  @media (max-width: $tablet-width) {
    width: 429px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    width: 300px;
  }
}

.video__wrapper {
  position: relative;
}

.video img {
  margin-top: 50px;
  margin-bottom: -100px;
  object-fit: cover;

  @media (max-width: $tablet-width) {
    margin-top: 40px;
    margin-bottom: -90px;
    width: 65.5vw;
    height: 36.72vw;
  }

  @media (max-width: $mobile-width) {
    margin-top: 50px;
    margin-bottom: -50px;
    width: 90vw;
    height: 50.63vw;
  }
}

.video__button {
  cursor: pointer;
  z-index: 50;
  margin: auto;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;

  @media (max-width: $tablet-width) {
    top: 130px;
  }

  @media (max-width: $mobile-width) {
    top: 100px;
  }
}

.video__button svg {
  width: 65px;
  height: 65px;

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
  }
}
.video__button svg:hover {
  stroke: $white;
  stroke-width: 3%;
}
