$white: #ffffff;
$black: #000000;
$back-black: #131314;
$back-grey: #f6f7f9;
$menu-grey: #f6f6f6;
$menu-text-grey: #48494d;
$dark-grey: #1f1f1f;
$darker-grey: #1c1c1c;
$turquoise: #0ad9c6;

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina: 144dpi;
