$white: #FFFFFF;
$black: #000000;
$back-black: #131314;
$back-grey: #F6F7F9;
$menu-grey: #F6F6F6;
$menu-text-grey: #48494D;
$dark-grey: #1F1F1F;
$darker-grey: #1C1C1C;
$turquoise: #0AD9C6;

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$retina: 144dpi;
